*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
 background: url(/img/the-polygon-1562743.jpg);
 background-size:cover;
}

header{
    background-color: #000000;
}

li{
    list-style: none;
}

a{
    color:#EE670B;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo{
    width: 60%;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.5s ease;
    font-size: 14px;
}

.nav-link:hover{
    color: #F4C303;
}

.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background: #F4C303;
    transition: all 0.3s ease-in-out;
}

.secao {
   display: flex; 
   justify-content: space-between;
}

.sobreNos {
    height: 600px;
    margin-top: 60px;
    padding: 10px;
}

.sobre {
    margin-bottom: 30px;
    color: #FFF;
}

.historia {
    line-height: 30px;
    color: #FFF;
}

.corporativo{
    width: 800px;
    border-radius: 30px;
}

@media (max-width:768px){
   .hamburguer{
       display: block;
   }
   .hamburguer.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #000000;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        margin-top: 30px;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }

    header {
        position: fixed;
        margin-top: -250px;
        width: 100%;
    }
}