@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
 background: url(/img/the-polygon-1562743.jpg);
 background-size:cover;
}

header{
    background-color: #000000;
}

a{
    color:#EE670B;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo{
    width: 400px;
    margin-top: 8px;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.5s ease;
    font-size: 17px;
}

.nav-link2 {
    background-color:#EE670B;
    padding: 8px;
    color: #F4C303;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s ease;
    font-size: 17px;
    transition: 0.6s ease-in-out;
}

.nav-link2:hover {
    background-color: #F4C303;
    color: #EE670B;
    transition: 0.6s ease-in-out;
}

.nav-link:hover{
    color: #F4C303;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background: #F4C303;
    transition: all 0.3s ease-in-out;
}

.secao {
   display: flex; 
   justify-content: space-around;
   flex-wrap: wrap;
}

.sobreNos {
    height: 900px;
    width: 500px;
    margin-top: 60px;
    padding: 10px;
    margin-bottom: -110px;
}

.sobre {
    margin-bottom: 30px;
    color: #000;
    font-size: 30px;
}

.historia {
    line-height: 30px;
    color: #000;
    font-size: 18px;
}

.corporativo{
    width: 400px;
    border-radius: 20px;
}

@media (max-width:768px){
   .hamburguer{
       display: block;
       margin-top: -1x;
   }
   .hamburguer.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 67px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #000000;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        margin-top: 30px;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }

    .navbar {
        margin-top: 19px;
    }

    header {
        position: fixed;
        margin-top: -254px;
        width: 100%;
    }

    .secao {
        margin-top: 240px;
        margin-bottom: 180px;
    }

    .sobreNos {
        margin-bottom: -325px;
        margin-bottom: -300px;
    }

    .corporativo {
        margin-left: 30px;
    }
}