*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
 background: url(/img/vecteezy_abstract-white-geometric.jpg);
 background-size:cover;

}

header{
    background-color: #000000;
}

li{
    list-style: none;
}

a{
    color:#EE670B;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo{
    width: 60%;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.5s ease;
    font-size: 14px;
}

.nav-link:hover{
    color: #F4C303;
}

.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background: #F4C303;
    transition: all 0.3s ease-in-out;
}

.secao {
   display: flex; 
   justify-content: space-around;
   flex-wrap: wrap;
}

.sobreNos {
    height: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    width: 500px;
    margin-left: 30px;
}

.sobre {
    color: #000;
    margin-bottom: 20px;
}

.historia {
    line-height: 30px;
    color: #000;
}

.corporativo{
    width: 400px;
    border-radius: 10px;
}

/*CARROSEL*/

.cartao {
    width: 300px;
    border-radius: 15px;
}

.carrosel1 {
    width: 300px;
    height: 533.33px;
    overflow: hidden;
    margin-top: 40px;
    margin-right: 30px;
}

.carrosel1 .carrosel2 {
    display: flex;
    list-style: none;
    width: 1200px;
    height: 533.33px; 
}

.carrosel1 .carrosel3 {
    position:relative;
    animation: slide 15s infinite ease-out;
}



@media (max-width:768px){
   .hamburguer{
       display: block;
   }
   .hamburguer.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 40px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #000000;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        margin-top: 30px;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }

    header {
        position: fixed;
        width: 100%;
        margin-top: -220px;
    }

    .secao {
        margin-top: 220px;
     }

    .corporativo{
        margin-left: 22px;
    }

    .sobre {
       margin-bottom: 20px;
    }

    .carrosel1 {
       margin-bottom: 30px;
    }

   
}

/*CARROSEL*/

@keyframes slide {
    0% {left: 0px;}
    20%{left: 0px;}

    30%{left: -300px;}  
    40%{left: -300px;}  

    50%{left: -600px;}  
    60%{left: -600px;}  

    70%{left: -900px;}  
    90%{left: -900px;}  

    100%{left: 0px;}
}